name: "Update cachix cache for bleeding edge"

on:
  push:
    branches:
      - r-daily

jobs:
  r-update-cachix:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-latest]
        #, macos-latest]
    steps:
    - uses: actions/checkout@v4
    - uses: cachix/install-nix-action@v27
      with:
        nix_path: nixpkgs=channel:nixos-unstable
  
    - uses: cachix/cachix-action@v15
      with:
        name: rstats-on-nix
        # If you chose signing key for write access
        # signingKey: '${{ secrets.CACHIX_SIGNING_KEY }}'
        # If you chose API tokens for write access OR if you have a private cache
        authToken: '${{ secrets.CACHIX_AUTH }}'
  
    - run:   |
         if [ "$RUNNER_OS" == "Linux" ]; then
              nix-build --keep-going --max-jobs 1 --cores 2 --argstr system x86_64-linux cachix.nix
              nix-build --keep-going --max-jobs 1 --cores 2 --argstr system aarch64-linux cachix.nix
         else
              nix-build --keep-going --max-jobs 1 --cores 2 cachix.nix
         fi
        
    - run: nix-store -qR --include-outputs $(nix-instantiate cachix.nix) | cachix push rstats-on-nix
    - run: nix-shell cachix.nix --run "echo OK"
